.main{
    width: 90vw;
    max-width: 1170px;
    margin: 115px auto 0;
    display: flex;
    justify-content: center;
}

.widget{
    margin-bottom: 2rem;
}

.widget:last-child{
    margin-bottom: 8rem;
}

.widget_title{
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #78530E;
}

.widget_item{
    margin-bottom: 13px;
}

.right{
    width: 80%;
    margin-top: 20px;
}

.filter__toggle{
    display: none;
}

.cate_left{
    display: none;
}

@media screen and (max-width: 900px) {
    .filter__toggle{
        display: block;
        margin-top: 20px;
    }

    .filter__toggle:hover {
        color: #4267B2;
        cursor: pointer;
    }

    .cate_left{
        color: #000;
        display: block;
    }

    .cate_left:hover{
        color: #4267B2;
        cursor: pointer;
    }
}