.main{
    width: 90vw;
    max-width: 1170px;
    margin: 115px auto 0;
    display: flex;
}

.container{
    flex: 1;
}

.imgContainer{
    position: relative;
    border: 1px solid rgb(228, 220, 220);
    width: 380px;
    height: 480px;
    overflow: hidden;
}

.rightDetail{
    flex: 1;
}

.arrowDetail{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 30px;
}

.arrowDetail i:hover{
    color: rgb(36, 36, 221);
    transition: all .2s ease-in;
}

.control_item{
    line-height: 2.6;
}

.control_item i{
    font-size: 18px;
    cursor: pointer;
}

.main h2{
    color: #78530e;
    font-family: "Satisfy", cursive;
}

.main i{
    color: #000;
}

.main p{
    color: #000;
}

.rightDetail i{
    font-size: 18px;
    color: #78530e;
    font-weight: bold;
}

.rightDetail span{
    color: #000;
    font-weight: 300;
}

.rightDetail p{
    margin: 30px 0;
    font-size: 14px;
    color: #78530e;
    font-weight: bold;
}

@media screen and (max-width: 920px) {
    .container{
        display: flex;
        justify-content: center;
    }

    .arrowDetail{
        padding-left: 30px;
    }

    .main{
        display: flex;
        flex-direction: column;
    }

    .rightDetail{
        margin: 50px 40px;
    }

    .rightDetail h2{
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .imgContainer{
        width: 300px;
            
    }
}