.header{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px 0;
}

.header h1{
    text-align: center;
    color: #78530E;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.container{
    flex: 1;
    margin: 5px;
    height: 75vh;
    position: relative;
    transition: transform 0.5s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 18px 34px;
}

.container:hover{
    transform: translateY(-20px);
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2{
    color: #fff;
    margin-bottom: 20px;
}

.container:hover h2{
    color: #ebeff7;
    transition: 0.3s ease-in;
}

.info button{
    border: none;
    padding: 10px;
    background-color: #fff;
    color: gray;
    cursor: pointer;
    font-weight: 600;
}

.container:hover button{
    color: rgb(53, 45, 45);
    transition: 0.3s ease-in;
}