h2{
    color: rgb(252, 246, 246);
}

p{
    color: rgb(252, 246, 246);
    font-size: 13px;
    letter-spacing: 1px;
}

.container{
    background-color: #1E1B1B;
}

.footer_container{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
}

.left{
    flex: 1;
}

.right{
    flex: 1;
}

.social_container{
    display: flex;
}

.social_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 10px;
}

.contact_item{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #fff;
}

.contact_item span{
    font-size: 13px;
    letter-spacing: 1px;
}

