@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 45px;
}

h1, h2, h3, h4, h5{
  font-family: 'Urbanist', sans-serif;
  letter-spacing: 2px;
  user-select: none;
}

p{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  word-spacing: 2px;
  line-height: 1.3;
  user-select: none;
}

button{
  user-select: none;
}

img{
  user-select: none;
}

/* Navbar start ========================================== */
.nav{
  background-color: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  height: 120px;
  transition: height .8s ease-out;
  display: flex;
}

.shrink {
  height: 60px;
  z-index: 12;
  box-shadow: rgba(156, 159, 161, 0.8) 0px 8px 24px;
}

nav{
  display: flex;
  list-style: none;
  justify-self: center;
}

nav a{
  text-decoration: none;
  cursor: pointer;
  color: #0D0D0D;
  font-family: 'Lora', serif;
  user-select: none;
}

nav a.active{
  font-weight: 800;
  color: #0641b8;
}

.nav_font{
  color: #0D0D0D;
  font-family: 'Lora', serif;
  user-select: none;
}

.nav_font:hover{
  color: #7B95C9;
}

@media screen and (max-width: 900px) {
  .nav{
    height: 60px;
    box-shadow: rgba(156, 159, 161, 0.8) 0px 8px 24px;
  }

  nav{
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    padding-top: 30px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    z-index: 999;
  }

  nav.active {
    transform: translateX(0);
  }
}
/* Navbar end ========================================== */

/* hero slider start =================================== */
.hero_slider_item{
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  inset: 0;
  align-items: center;
}

.slider_active{
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}

.hero_slider_image{
  height: 100%;
}

.hero_slider_image img{
  height: 80vh;
  bottom: 0;
  right: 0;
  transform: scale(0) rotate(65deg);
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero_slider_info{
  width: 65.33%;
}

.hero_slider_title{
  font-size: 45px;
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  padding-bottom: 38px;
  user-select: none;
  color: #78530E;
}

.hero_slider_description{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.hero_slider_info .hero_slider_title{
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.hero_slider_info .hero_slider_description{
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.slider_active .hero_slider_info .hero_slider_title{
  transform: translateY(0);
}

.slider_active .hero_slider_info .hero_slider_description{
  transform: translateY(0);
}

@media screen and (max-width: 950px) {
  .hero_slider_item{
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero_slider_image{
    margin-top: 20px;
    height: 0;
  }

  .hero_slider_image img{
    height: 60vh;
  }

  .hero_slider_info{
    width: 100%;
  }

  .hero_slider_title{
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  .hero_slider_title{
    font-size: 25px;
  }

  .hero_slider_description{
    font-size: 16px;
  }

  .hero_slider_image{
    z-index: 0;
  }

}
/* hero slider end =================================== */

/* slider_active start ===== */
.slider_active .hero_slider_image img{
  transform: scale(1) rotate(0);
}
/* slider_active end ===== */

/* product slider start =================================== */
.product h1{
  text-align: center;
  color: #78530E;
}
/* prodict slider ended =================================== */


/* category start =================================== */
@media screen and (max-width: 900px) {
  .left{
    position: fixed;
    background-color: #fff;
    width: max-content;
    height: 100%;
    padding: 1.5rem;
    z-index: 1;
    left: 0;
    overflow: scroll;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .active_left {
    transform: translateX(0);
  }
}
/* category ended =================================== */