.hero_slider{
    height: 97vh;
    max-height: 1080px;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    margin-top: calc(120px * -1);
    position: relative;
    overflow: hidden;
}

.slider_control{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.control_item .index{
    margin: 0 10px;
    user-select: none;
}

.control_item i, .index{
    font-size: 18px;
}

.control_item:hover{
    color: #0641b8;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .hero_slider{
        height: 80vh;
        margin-top: calc(40px * -1);
    }
}

@media screen and (max-width: 600px) {
    .hero_slider{
        height: 90vh;
        margin-top: calc(25px * -1);
    }
}
